/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-dragon {
	border: 1px dotted #f00;
	display: flex;
	justify-content: space-between;
	padding-left: 2.0% !important;
	padding-right: 2.0% !important;
	padding-top: 5px !important;
	.oldCode, .newCode {
		width: 48.5%;
	}
}
